body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  background: #1f2937;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.subheader {
  background: #374151;
  color: #d1d5db;
  padding: 10px;
  font-size: 14px;
}

/* CONTAINER */
.container {
  padding: 15px;
}

/* CARD */
.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* STATUS COLORS */
.status {
  font-weight: bold;
}

.status.manutencao { color: #f59e0b; }
.status.reinspecao { color: #3b82f6; }
.status.liberado { color: #10b981; }

/* BOTÕES */
button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
}

button.secondary {
  background: #6b7280;
}

button.danger {
  background: #dc2626;
}

/* INPUT */
input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.counter {
  flex: 1;
  min-width: 120px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.counter strong {
  display: block;
  font-size: 20px;
}

button.danger {
  background: #dc2626;
}

.linha-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* STATUS BADGE */
.status-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

/* CORES */
.status-em {
  background: #6b7280; /* cinza */
}

.status-manutencao {
  background: #f59e0b; /* amarelo */
}

.status-reinspecao {
  background: #3b82f6; /* azul */
}

.status-liberado {
  background: #10b981; /* verde */
}

/* NAVBAR INFERIOR */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  z-index: 1000;
}

.bottom-nav button {
  background: none;
  border: none;
  color: #d1d5db;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.bottom-nav button.active {
  color: #ffffff;
  font-weight: bold;
}

/* Espaço pra não ficar atrás do menu */
.container {
  padding-bottom: 70px;
}

label {
  font-size: 14px;
}